*{
    box-sizing: border-box;
}
body{
    width: 1280px;
    display: block;
    margin: 0 auto;
    font-family: "YesevaOne-Regular";
    overflow-x: hidden;
}

  @keyframes walk{
    0%{background-position: 0px top;}
    25%{background-position: -160px top;}
    50%{background-position: -320px top;}
    75%{background-position: -480px top;}
    100%{background-position: -640px top;}
  }
  
  @keyframes path{
    0%{left: -160px; top: 200px;}
    25%{left: 30%; top: 200px;}
    40%{left: 50%; top: 130px;}
    65%{left: 60%; top: 200px;}
    100%{left: 100%; top: 200px;}
  }
  
  .first{
    width: 160px;
    height: 160px;
    display: block;
    position: absolute;
    top: 100px;
    animation: path 3s linear infinite;
  }
  .second{
    background: url("../img/Group\ 1321318549.png");
    width: 160px;
    height: 160px;
    display: block;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: walk 1s steps(1) infinite;
  }



  @keyframes gos{
    0%{background-position: 0px top;}
    20%{background-position: -160px top;}
    40%{background-position: -320px top;}
    60%{background-position: -480px top;}
    80%{background-position: -640px top;}
    100%{background-position: -800px top;}
  }
  
  @keyframes pats{
    0%{left: -160px; top: 200px;}
    25%{left: 30%; top: 200px;}
    40%{left: 50%; top: 130px;}
    65%{left: 60%; top: 200px;}
    100%{left: 100%; top: 200px;}
  }
  
  .s1{
    width: 160px;
    height: 160px;
    display: block;
    position: absolute;
    top: 500px;
    animation: pats 3s linear infinite;
  }
  .s2{
    background: url("../img/Group\ 14.png");
    width: 160px;
    height: 160px;
    display: block;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: gos 1.5s steps(1) infinite;
  }



  @keyframes go{
    0%{background-position: 0px top;}
    20%{background-position: -160px top;}
    40%{background-position: -320px top;}
    60%{background-position: -480px top;}
    80%{background-position: -640px top;}
    100%{background-position: -800px top;}
  }
  
  @keyframes pat{
    0%{left: -160px; top: 200px;}
    25%{left: 30%; top: 200px;}
    40%{left: 50%; top: 130px;}
    65%{left: 60%; top: 200px;}
    100%{left: 100%; top: 200px;}
  }
  
  .t1{
    width: 160px;
    height: 160px;
    display: block;
    position: absolute;
    top: 300px;
    animation: pat 3s linear infinite;
  }
  .t2{
    background: url("../img/Group\ 15.png");
    width: 160px;
    height: 160px;
    display: block;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: go 2s steps(1) infinite;
  }

  
  @keyframes got{
    0%{background-position: 0px top;}
    20%{background-position: -160px top;}
    40%{background-position: -320px top;}
    60%{background-position: -480px top;}
    80%{background-position: -640px top;}
    100%{background-position: -800px top;}
  }
  
  @keyframes pati{
    0%{left: -160px; top: 200px;}
    25%{left: 30%; top: 200px;}
    40%{left: 50%; top: 130px;}
    65%{left: 60%; top: 200px;}
    100%{left: 100%; top: 200px;}
  }
  
  .f1{
    width: 160px;
    height: 160px;
    display: block;
    position: absolute;
    top: 300px;
    animation: pati 3s linear infinite;
  }
  .f2{
    background: url("../img/Group\ 16.png");
    width: 160px;
    height: 160px;
    display: block;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: got 2.3s steps(1) infinite;
  }



  @keyframes goti{
    0%{background-position: 0px top;}
    20%{background-position: -160px top;}
    40%{background-position: -320px top;}
    60%{background-position: -480px top;}
    80%{background-position: -640px top;}
    100%{background-position: -800px top;}
  }
  
  @keyframes patii{
    0%{left: -160px; top: 200px;}
    25%{left: 30%; top: 200px;}
    40%{left: 50%; top: 130px;}
    65%{left: 60%; top: 200px;}
    100%{left: 100%; top: 200px;}
  }
  
  .v1{
    width: 160px;
    height: 160px;
    display: block;
    position: absolute;
    top: 300px;
    animation: patii 3s linear infinite;
  }
  .v2{
    background: url("../img/Group\ 17.png");
    width: 160px;
    height: 160px;
    display: block;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    animation: goti 1.3s steps(1) infinite;
  }